
<h2> Login </h2>

<%= form_tag session_path do %>

  <%= label_tag do %>
    Email
    <%= text_field_tag :email %>
  <% end %>

  <%= label_tag do %>
    Password
    <%= password_field_tag :password %>
  <% end %>

  <%= submit_tag "Log in" %>
<% end %>

<h2> Create an Account </h2>
<%= form_for User.new do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.submit "Sign Up" %>
<% end %>

